{% extends "Professors.html" %}
{% block p %}
<script>

               let div = document.getElementById("div");
                div.style.display = "none";
                let div2 = document.querySelector(".u")
                div2.style.display="none";

</script>
<style>
    table {
        position:absolute;
        font-family:sans-serif;
        border-collapse: collapse;
        width: 78%;
        float:center;
        margin-left:21.8%;
    }
td, th {
    position:relative;
  border: 2px solid white;

  padding: 10px;
}
</style>
<table>
    <caption><strong>{{Subject}}</strong></caption>
<tr>
    <th>Question</th>
    <th>Add Image</th>
</tr>
    {% for question in questionPaper %}
    <form action = "/addImage/{{Subject}}/{{question.Question}}" method = "POST" enctype = "multipart/form-data">
        <tr>
            <td>{{question.Question}}</td>
            <td><input type = "file" name = "file" >
            <input type = "submit" style="position:absolute;right:5%;margin-top:1%;"></td>
        </tr>
    </form>

{% endfor %}
</table>


{% endblock %}