{% extends "Professors.html" %}
{% block p %}
<script>
            document.addEventListener('DOMContentLoaded', function () {
               let div = document.getElementById("div");
                div.style.display = "none";
                let div2 = document.querySelector(".u")
                div2.style.display="none";
    });
</script>
<style>
    table {
        position:relative;

  font-family:sans-serif;
  border-collapse: collapse;
  width: 78%;
  float:center;
  margin-left:22%;
}
td, th {
    position:relative;
  border: 2px solid white;

  padding: 10px;
}
</style>
<table>
<tr>
    <th>Question</th>
    <th>Add Image</th>
</tr>
{% for question in questionPaper %}
    <form action = "/addImage/{{question.Question}}" method = "POST" enctype = "multipart/form-data">
        <tr>
            <td>{{question.Question}}</td>
            <td><input type = "file" name = "file" >
            <input type = "submit" style="position:absolute;margin-left:-22%;margin-top:1%;"></td>
        </tr>
    </form>

{% endfor %}
</table>


{% endblock %}