<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
         function f(){
                    let l = localStorage.getItem('Roll');
                    let roll = document.querySelector("#roll").value;
                    let subject = document.querySelector("#fuck").value;
                if(l != null  && l != roll ){
                        fetch('/Activate/'+subject+roll)
                        .then(response => response.json())
                        .then(response => {
                            console.log(response)

                        if(response == "false"){
                                document.querySelector("#error1").innerHTML = "Exam of Roll number "+l+" is still not completed"
                                return(false);
                            }else{
                                console.log("ok2")
                                localStorage.removeItem('questions_number');
                                localStorage.removeItem('questions');
                                localStorage.removeItem('answers');
                                localStorage.removeItem('Roll');
                                document.querySelector("#Students");
                                return(true);
                            }
                        });
                            //get a fetch request
                    }
            else{
                console.log("ok")
                document.querySelector("#Students").action="/StudentZone/"+l
                return true;
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <p class="navbar-brand" style="font-size:25px;">Online Examination Portal </p>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline navbar-nav mr-auto" action="/ProfessorZone" method="POST" name="Professor">
                <input type="text" class="form-control mb-2 mr-sm-2" name="Email" placeholder="Email">
                <input type="password"  class="form-control mb-2 mr-sm-2" name="Password" placeholder="Password">
                <button class="btn btn-primary mb-2" type="submit">Log in</button>
                <a class="nav-link mr-sm-2" href="#" style="color:white" data-toggle="modal" data-target="#myModal">or Sign up</a>
            </form>
        </ul>
            <!-- Links -->
    </nav>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title">Enter your details</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="form navbar-nav mr-auto" method="POST" action="/signUp">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" pattern=".+@.+\..+"  name="EMAIL">
                <input type="password"  class="form-control mb-2 mr-sm-2" placeholder="Password" name="PASSWORD">
                <button class="btn btn-primary mb-2" type="submit">Sign up</button>
                </form>
            </div>
            <!-- Modal footer -->
          </div>
        </div>
      </div>
    <div style="color:red;text-align:center;">
        {% if error != None %}
            <strong>{{ Error }} </strong>
        {% endif %}
    </div>
    <div class="jumbotron text-center ">
        <h1>Welcome</h1>
        <h4>to online exam portal of RIZVI COLLEGE.</h4>
    </div>
    <div class="container justify-content-center" >
        <strong style="color:#FFCC00;margin-left:22%">Note:Please do not sign up or log in if you are a student,just fill the form below.</strong>
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-3">Good day,genius</h1><br>
                <h4>fill out this form to get your internal started.</h4>
            </div>
                <div class="col-md-6">
                               <form class="form-group"  action="/StudentZone" id="Students" method="POST" name="Student" onsubmit = "return f() ">
                <fieldset class="border p-4" style="color:black;">
                    <strong id="error1" style="color:red;margin-left:15%;text-align:center;">{% if errorStudent != None %} {{ errorStudent }} {% endif %}</strong>
                    <br>
                    <legend class="w-auto text-center" style="color:blue">Students Zone</legend>
                    <label for="sel1">Subject (select one):</label>
                    <select class="form-control"  name="Subject"  id="fuck">
                        {% for i in activeSubject %}
                            <option>{{i.subject}}</option>
                        {% endfor %}
                        </select>
            <br>
                <label for="sel1">Your roll number :</label>
                <input class="form-control" type="text" id="roll" pattern="[0-9][0-9]" name="Roll">
            <br>
            <button type="submit" class="btn btn-primary" class="options">Submit</button>
                                </fieldset>
                            </form>

                        </div>
                      </fieldset>
            </div>
        </div>
        <br>
        <div class="jumbotron text-center">
            <h4>Online Examination Portal</h4>

            <p>Online exam portal for internal examination is a web based application for technical evaluation. Online exam portal will not only replace paper work but also release the work load of faculty . It will full fill the requirement of  our institute to conduct the exam online . Thus the purpose of our site is to provide a system that save the effort and time of faculty.
            This website has been developed using  flask,a Python based  web framework and PostgreSql as database.
            The system carries out the examination and auto grading for multiple choice questions, which is feed into the system.
            </p>
        </div>
        <div class="card bg-dark text-center ">
        <div class="card-footer dark-card" style="color: white;"><small>A Siddhant Shah Production <br >© 2019 Copyright</small></div>
        </div>
</body>
</html>
