<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    
    <script src = "https://code.jquery.com/jquery.js"></script>
      <script src = "{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
      
      <link href = "{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel = "stylesheet">
    <script type=text/javascript  src="{{ url_for('static', filename='myscript.js') }}"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <p class="navbar-brand" style="font-size:25px;">Online Examination Portal </p>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline navbar-nav mr-auto" action="{{url_for('auth.login')}}" method="POST" >
                <input type="text" class="form-control mb-2 mr-sm-2" name="username" placeholder="Email">
                <input type="password"  class="form-control mb-2 mr-sm-2" name="password" placeholder="Password">
                <button class="btn btn-primary mb-2" type="submit">Log in</button>
                <a class="nav-link mr-sm-2" href="#" style="color:white" data-toggle="modal" data-target="#myModal">or Sign up</a>
            </form>
        </ul>
            <!-- Links -->
    </nav>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title">Enter your details</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                
                <input type="text" id="username" class="form-control mb-2 mr-sm-2" placeholder="Email" pattern=".+@.+\..+"  name="EMAIL">
                <input type="password" id="password" class="form-control mb-2 mr-sm-2" placeholder="Password" name="PASSWORD">
                <button class="btn btn-primary mb-2" onclick="restrationForm()" type="submit">Sign up</button>
                <div style="position: relative;text-align: center;">
                    <label style="color: red;" id="error">{{Error}}</label>
                </div>
            </div>
            <!-- Modal footer -->
          </div>
        </div>
      </div>
      <!--Flash error-->
    <div style="color:red;text-align:center;">
        {% for message in get_flashed_messages(category_filter=["login"]) %}
            <label style="color: red;" class="flash">{{ message }}</label>
        {% endfor %}
    </div>
    <!-- End Flash error-->
    <!--End of header-->
    <div class="jumbotron text-center ">
        <h1>Welcome</h1>
        <h4>to online exam portal of RIZVI COLLEGE.</h4>
    </div>


    <div class="container justify-content-center" >
        <strong style="color:#FFCC00;margin-left:22%">Note:Please do not sign up or log in if you are a student,just fill the form below.</strong>
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-3">Good day,genius</h1><br>
                <h4>fill out this form to get your internal started.</h4>
            </div>
                <div class="col-md-6">
                    <form class="form-group"  action="{{url_for('student.home')}}" id="studentPaper" onsubmit="return studentLogin()" method="POST" name="Student" >
                        <fieldset class="border p-4" style="color:black;">
                            <strong  id="errorStudent" style="color:red;margin-left:13%;text-align:center;"></strong>
                            <br>
                            <legend class="w-auto text-center" style="color:blue">Students Zone</legend>
                            <label for="sel1">Subject (select one):</label>
                            <select class="form-control"  name="subject" id="addActiveSubject"></select><br><br>
                            
                            <label for="sel1">Your roll number :</label>
                            <input class="form-control" type="text" id="roll" pattern="[0-9][0-9]"autocomplete="off" id="roll" name="Roll">
                            <br>
                            <button type="submit" class="btn btn-primary" class="options">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </fieldset>
        </div>
        </div>
        <br>
        <div class="jumbotron text-center">
            <h4>Online Examination Portal</h4>
            <p>Online exam portal for internal examination is a web based application for technical evaluation. Online exam portal will not only replace paper work but also release the work load of faculty . It will full fill the requirement of  our institute to conduct the exam online . Thus the purpose of our site is to provide a system that save the effort and time of faculty.
            This website has been developed using  flask,a Python based  web framework and PostgreSql as database.
            The system carries out the examination and auto grading for multiple choice questions, which is feed into the system.
            </p>
        </div>
        <div class="card bg-dark text-center ">
        <div class="card-footer dark-card" style="color: white;"><small>A Siddhant Shah Production <br >My goal was never really to make this portal cool. I am not a cool person. And I've never really tried to be cool.</small>
        <a style="float: left;" href="https://github.com/sidd044/ExamPortalv2"><i class='fab fa-github' style='font-size:36px;color:white'></i></a> 
    </div>
    </div>
</body>
</html>