<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script type=text/javascript  src="{{ url_for('static', filename='myscript.js') }}"></script>
    </head>
    <body>        
        <!--The fucking modal-->
        <div id="myModal" class="modal" style="align-content: center;">
            <div class="modal_content">
                <label class="close">X</label>
                <h3 style="margin: 4%;">Enter your details (Faculty only) </h3>
                <hr>
                    <input type="text" id="username" placeholder="Email or Username"  autocomplete="off" required/> <br>
                    <input  type="password" id="password" placeholder="Password"  required /> 
                    <button style="margin-left: 4%;width: 88%;" onclick="restrationForm()">Sign up </button>  
                
                <div style="position: relative;text-align: center;">
                    <label style="color: red;" id="error">{{Error}}</label>
                </div>
            </div>
        </div>
        <!-- End of modal-->      
        <div>
            <!--The header-->
            <header class="header">
                <label>Online Examination Portal</label> 
                <a id="signup"  style="color: white;float: right;margin-top: 1%;margin-left: 0.5%;"> Or Sign up</a> 
                <form method="POST" action="{{url_for('auth.login')}}">
                    <button style="float: right;margin-left: 0.5%;margin-top: -2.7%;">Log in</button> 
                    <input  type="password" name="password" placeholder="Password" required/>  
                    <input  type="text" name="username" placeholder="Email or Username" required/> 
                </form>
            </header>
            <!--Flash error-->
            <div style="position: relative;text-align: center;">
            {% for message in get_flashed_messages(category_filter=["login"]) %}
                    <label style="color: red;" class="flash">{{ message }}</label>
                {% endfor %}
            </div>
            <!-- End Flash error-->
            <!--End of header-->
            <div class="intro">
                <h1>Welcome</h1><br>
                <h2>to online exam portal of RIZVI COLLEGE.</h2>                
            </div>
            <div class="note"><label>Note:Please do not signup or login if you are a student,just fill the form below.</label></div>
        </div>
        <div>
           <table class="studentForm">
               <tr>
                   <!-- note for students -->
                   <td>
                       <div style="margin-left: 5%;">
                            <label style="font-size: 55px;">Good day,genius</label><br>
                            <label style="font-size: 30px;">fill out this form to get your internal started</label>
                        </div>
                    </td>
                   <!-- form for students to fill -->
                   
                   <td>
                       <div class="studentsInfo">
                        <fieldset>
                            <legend align='center' style="color: rgb(0, 0, 255);font-size:x-large;">Student Form</legend>
                            <div style="position: absolute; background-color: whitesmoke;margin-left: 4%;margin-top: 1%;">
                                <label style="position: relative; color: red;font-weight: bolder;" id="errorStudent"></label>
                            </div>
                            <form action="{{url_for('student.home')}}" id="studentPaper" onsubmit="return studentLogin()" method="POST"  style="margin:4%;margin-top: 10%;"  >
                                <label style="font-size: 1rem;" for="subject">Subject:</label><br>
                                <select name="subject" id="addActiveSubject">  
                                </select><br><br>
                                <label style="font-size: 1rem;" for="Roll">Your Roll number:</label><br>
                                <input type="text" style="padding-left: 4px;"  pattern="[0-9][0-9]" minlength="2" maxlength="2"  autocomplete="off" id="roll" placeholder=" Roll" name="Roll" required><br><br>
                                <button class="button">Submit</button>
                            </form>
                            </fieldset>
                        </div>
                   </td>
               </tr>
           </table>
           <div class="intro" style="margin-top: 5%;">
           <h4 style="font-size: 1.5rem;">Online Examination Portal</h4>
            <p style="margin-block-start: 1.33em;
             margin-block-end: 1.33em;margin-left: 1%;margin-right: 1%;">Online exam portal for internal examination is a web based application for technical
             evaluation. Online exam portal will not only replace paper work but also release the work load of faculty .It will full fill the requirement of 
             our institute to conduct the exam online . Thus the purpose of our site is to provide a system that save the effort and time of faculty. 
             This website has been developed using flask,a Python based web framework and PostgreSql as database. The system carries out the examination and 
             auto grading for multiple choice questions, which is feed into the system.</p>
        </div>
        <footer class="header" style="margin-top: 1%;color: white;text-align: center;">
            <small>A Siddhant Shah Production<br>My goal was never really to make this portal cool. I am not a cool person. And I've never really tried to be cool.</small>  
            <a style="float: left;" href="https://github.com/sidd044/ExamPortalv2"><i class='fab fa-github' style='font-size:36px;color:white'></i></a>                                          
        </footer>
        </div>        
    </body>
</html>
